.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  font-size: 15px;
  margin: 0 auto;
  background-color: rgb(123, 144, 133);
  color: #444;
}

.center-wrap {
  margin: 0 20px;
  width: 100%;
}

.center {
  width: 100%;
  height: 100%;
}

/* current slide */
#current-sld-container {
  width: 100%;
  margin: 0 auto;
}
#current-sld-border {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  /* prettier-ignore */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-top: 56.25%;
  position: relative;
}

#current-sld {
  box-sizing: border-box;
  padding: 40px;
  font-size: 1.6em;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.member-info {
  position: absolute;
  right: 2%;
  bottom: 3%;
}

.qus-div {
  word-break: break-all;
}

.opt-ul > li {
  padding: 0.5em 0;
}
/* 
.result {
  margin-left: 20px;
  font-weight: 900;
  color: rgb(238, 128, 25);
} */

.reaction-count {
  margin-left: 10px;
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code > img {
  width: 100%;
}

.scan-to-join {
  margin-right: 30px;
}

.fullscreenFontSize {
  font-size: 1.5em;
}

#member-icon {
  margin-right: 5px;
}

/* control panel */
.control-panel {
  box-sizing: border-box;
  border-radius: 4px;
  /* prettier-ignore */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 35%;
  width: 100%;
  margin: 20px auto 0;
  background-color: white;
  padding: 20px;
}

#sld-type-form {
  display: flex;
}

.control-panel > form > label {
  margin-right: 20px;
  width: 20%;
}

.control-panel > form > label > input {
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.control-panel > form > label > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 15%;
  padding-top: 15%;
  text-align: center;
}

.heading-type-text {
  line-height: 45px;
}
#sld-type-w-chart {
  padding-bottom: 15%;
  padding-top: 15%;
}

.sld-type-icon {
  font-size: 30px;
}

.control-panel > form > label > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  display: block;
  background-color: rgba(239, 245, 234, 0.514);
  border: 2px solid #5a9179a6;
  width: 100%;
  text-align: center;
  color: #5a9179;
}

.control-label,
.diagram-label,
.heading-label {
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 1.1em;
}

/* slide selector */
#sld-selector {
  background-color: rgb(248, 250, 246);
  border-radius: 4px;
  /* prettier-ignore */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
     0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sld-item {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  padding: 20px 18px 20px 0;
}
.sld-item > a {
  width: 80%;
  padding-bottom: 55%;
  position: relative;
}

.sld {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #aaa;
  font-size: 0.7rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.sld-item-content {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sld-item-header {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
}

.sld-item-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sld-item-text {
  text-align: center;
  color: #666;
  font-weight: 500;
}

.sld-item-icon {
  color: #666;
  font-size: 3.2rem;
}

.sld-item-selected {
  background-color: rgba(191, 212, 212, 0.63);
}

#add-sld-btn {
  width: 55%;
  align-self: center;
  margin: 25px auto;
}

.sld-item-title {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hide-tool {
  display: none;
}

.sld-copy-btn {
  cursor: pointer;
}

.sld-copy-btn:hover {
  transform: scale(1.2) rotate(-15deg);
}
/* Edit Panel */
.edit-panel {
  width: 40%;
  height: 95%;
  border-radius: 4px;
  /* prettier-ignore */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  overflow-y: scroll;
  padding: 20px;
}

#diagram-type-form {
  display: flex;
  justify-content: space-between;
}

.diagram-type-selector > form > label {
  width: 50%;
}

.diagram-type-selector > form > label:nth-child(1) {
  margin-right: 20px;
}

.diagram-type-selector > form > label > input {
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.diagram-type-selector > form > label > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 14%;
  padding-top: 14%;
  text-align: center;
}

.diagram-type-icon {
  font-size: 30px;
}

.diagram-type-selector > form > label > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  display: block;
  background-color: rgba(239, 245, 234, 0.514);
  border: 2px solid #5a9179a6;
  width: 100%;
  text-align: center;
  color: #5a9179;
}

.input-group {
  margin-bottom: 10px;
}

#qus-input-group {
  display: flex;
  flex-direction: column;
}

.edit-panel-label {
  font-weight: 400;
  margin: 14px 0 5px;
  font-size: 1.05em;
}
.opt-input-group {
  display: flex;
}

.input {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 5px 10px;
}

.input:hover {
  border: 1px solid #333;
}

.input:focus {
  outline: none;
  animation-name: input-focus;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes input-focus {
  from {
    border: 1px solid #333;
  }
  to {
    border: 1.5px solid rgba(75, 143, 107, 0.726);
  }
}
.delete-opt-btn {
  vertical-align: middle;
  font-size: 1.3em;
  cursor: pointer;
  align-self: center;
  padding: 0 8px;
  color: rgba(15, 99, 51, 0.473);
}
.delete-opt-btn:hover {
  animation-name: rotate;
  animation-duration: 0.3s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#add-opt-btn {
  color: #3c4e57;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
}
/* Heading Page Render */

.heading-render-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Heading setting */
.edit-panel > label {
  display: flex;
  flex-direction: column;
}

.heading-render-container > .heading-render {
  font-size: 1.5em;
  word-break: break-all;
}

/* Sign up / log in */
.entry-page {
  height: calc(100vh - 90px);
  background-color: rgb(123, 144, 133);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.entry-screen {
  text-align: center;
}
.entry-screen > p {
  margin-bottom: 20px;
}
.entry-form {
  display: flex;
  flex-direction: column;
}
.empty-divider {
  height: 10px;
  width: 1px;
}

.err-msg {
  color: red;
  font-size: 0.9em;
  text-align: left;
}
#entry-btn {
  color: white;
  background-color: rgb(46, 54, 50);
  margin: 30px auto;
  padding: 10px 20px;
}

.entry-divider {
  display: flex;
  margin: 15px 0 35px;
  justify-content: center;
}
.entry-divider > p {
  font-size: 0.9em;
  color: #444;
  width: 310px;
  letter-spacing: 1px;
}
.divider-line {
  height: 1px;
  width: 55%;
  margin: 10px 0;
  background-color: #999;
}

.switch-link {
  font-size: 0.8em;
  color: rgb(77, 117, 190);
  padding: 0 0 20px;
}

.switch-link:hover {
  transform: scale(1.1);
}
