#present-btn {
  color: #333;
  width: 150px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: white;
  font-size: 1.05em;
  letter-spacing: 5px;
}
