.header {
  display: flex;
  background-color: rgb(123, 144, 133);
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  padding: 30px;
  align-items: center;
}

.logo {
  width: 300px;
  height: 100px;
}

.logo-wrap {
  margin-right: auto;
}

.logo > img {
  width: 100%;
}

#my-presentation-btn {
  background-color: #444;
  color: white;
  letter-spacing: 5px;
  margin: 0 25px;
  font-size: 1.05em;
}
