.header {
  display: flex;
  background-color: rgb(123, 144, 133);
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  padding: 30px 15px 30px 0;
  align-items: center;
}

.logo {
  width: 240px;
  height: 100px;
}

.logo-wrap {
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 60%;
}

.logo > img {
  width: 100%;
  padding: 20px 0;
}

#my-presentation-btn {
  background-color: #444;
  color: white;
  letter-spacing: 3px;
  margin: 0 25px;
  font-size: 1.05em;
}
.sldEditor-proj-name {
  font-size: 1.3em;
  color: rgb(248, 250, 246);
  font-weight: 400;
  margin: 0 5px 0 0;
}
.logo-wrap > .proj-name-edit-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 20px;
  margin-top: 10px;
}

#edit-input {
  font-size: 1.3em;
  color: rgb(248, 250, 246);
}
