.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: -5%;
  width: 600px;
  height: 600px;
  background: none;
}

.pot {
  position: absolute;
  width: 16%;
  height: 14%;
  bottom: 8%;
  left: 42%;
  background: #fcaa67;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  box-shadow: inset 0 16px 20px rgba(0, 0, 0, 0.3);
}

.pot-top {
  position: absolute;
  width: 18%;
  height: 5%;
  bottom: 20%;
  left: 41%;
  background: #fcaa67;
  border-radius: 3px;
}

.stem {
  position: absolute;
  width: 2%;
  height: 20%;
  left: 49%;
  bottom: 15%;
  background: #89ab79;
}

.leaf {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background: #89ab79;
}

.leaf01 {
  top: -10%;
  left: 170%;
  transform: rotate(-150deg);
}

.leaf02 {
  top: 0;
  right: 170%;
  transform: rotate(50deg);
}
.leaf02-green {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background: #6c935c;
  top: 1%;
  right: 10%;
  transform: rotate(0deg);
}

.leaf03 {
  width: 70px;
  height: 70px;
  top: -60%;
  left: -240%;
  transform: rotate(135deg);
}

.leaf03-light {
  position: absolute;
  width: 18px;
  height: 30px;
  border-radius: 50%;
  right: 65%;
  bottom: 20%;
  background-color: white;
}
/* --- ANIMATION --- */

.stem {
  animation: grow 3s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    bottom: 8%;
    width: 1%;
  }

  60% {
    bottom: 20%;
    width: 2%;
  }
  100% {
    bottom: 20%;
    width: 2%;
  }
}

.stem .leaf01 {
  animation: leafGrow01 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.stem .leaf02 {
  animation: leafGrow02 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.stem .leaf02 .leaf02-green {
  animation: leafGrow02-green 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.stem .leaf03 {
  animation: leafGrow03 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.stem .leaf03-light {
  animation: leafGrow03-light 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes leafGrow01 {
  0% {
    width: 0;
    height: 0;
    top: 0%;
    left: 0%;
  }

  60% {
    width: 60px;
    height: 60px;
    top: -10%;
    left: 170%;
  }
  100% {
    width: 60px;
    height: 60px;
    top: -10%;
    left: 170%;
  }
}

@keyframes leafGrow02 {
  0% {
    width: 0;
    height: 0;

    right: 0%;
  }
  60% {
    width: 60px;
    height: 60px;

    right: 170%;
  }
  100% {
    width: 60px;
    height: 60px;
    right: 170%;
  }
}

@keyframes leafGrow02-green {
  0% {
    width: 0;
    height: 0;
    top: 0%;
    right: 0%;
  }
  60% {
    width: 50px;
    height: 50px;
    top: 1%;
    right: 10%;
  }
  100% {
    width: 50px;
    height: 50px;
    top: 1%;
    right: 10%;
  }
}
@keyframes leafGrow03 {
  0% {
    width: 0;
    height: 0;
    top: 0%;
    left: -50%;
  }

  60% {
    width: 70px;
    height: 70px;
    top: -60%;
    left: -240%;
  }
  100% {
    width: 70px;
    height: 70px;
    top: -60%;
    left: -240%;
  }
}

@keyframes leafGrow03-light {
  0% {
    width: 0;
    height: 0;
  }
  60% {
    width: 20px;
    height: 32px;
  }
  100% {
    width: 20px;
    height: 32px;
  }
}
