#sld-selector {
  width: 20%;
  background-color: olivedrab;
  margin-top: 10px;
  height: 100%;
  overflow-y: scroll;
}

.sld-item {
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

.sld {
  background-color: white;
  border: 1px solid black;
  width: 180px;
  height: 120px;
}
