#current-sld:-moz-full-screen {
  width: 100%;
  background-color: white;
}

#current-sld:-webkit-full-screen {
  width: 100%;
  background-color: white;
}

#current-sld:-ms-fullscreen {
  background-color: white;
  width: 100%; /* needed to center contents in IE */
}
#current-sld:fullscreen {
  width: 100%;
  background-color: white;
  font-size: 3.3em;
  padding: 100px 80px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeX {
  cursor: pointer;
}
/* Project Management */
.proj-wrap {
  width: 90%;
  margin: 0 auto;
}

#add-project-btn {
  letter-spacing: 5px;
  font-size: 1.05em;
  font-weight: 800;
  height: 48px;
}

#add-project-icon {
  margin-right: 10px;
}

#proj-list-card {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 30px;
  width: 100%;
}

.row {
  display: flex;
  border-bottom: 1px solid #aaa;
  justify-content: space-between;
  padding: 20px 0;
}

.col-header {
  font-weight: 800;
}

.project-name {
  cursor: pointer;
  font-weight: 700;
  color: rgb(30, 57, 43);
}

.project-name:visited,
.project-name:hover,
.project-name:focus {
  color: rgb(30, 57, 43);
}

.project-name:hover {
  text-decoration: underline;
  transform: scale(1.3);
}

.proj-list {
  height: 60vh;
  overflow-y: scroll;
}

.col {
  width: 30%;
}
.proj-tool-col {
  max-width: 60px;
  margin-right: 50px;
}

.empty-col {
  width: 130px;
  height: 17px;
}

.trash-bin {
  cursor: pointer;
}

.trash-bin:hover {
  transform: scale(1.2) rotate(-15deg);
}

#confirm-del-card {
  box-sizing: border-box;
  padding: 20px 30px;
}

.deleting-proj-alert {
  margin-bottom: 40px;
}

.deleting-proj-name {
  color: red;
  font-weight: bold;
}

#del-btn {
  margin-right: 20px;
}

#new-proj-card {
  box-sizing: border-box;
  padding: 20px 30px;
}

.overlay-card-title {
  min-width: 600px;
  margin-bottom: 30px;
  font-weight: 800;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  font-size: 1.1em;
}

#new-proj-form {
  margin: 0 auto;
}

#new-proj-name-input {
  width: 500px;
}

#create-proj-btns {
  margin-top: 50px;
}

#new-proj-submit-btn {
  margin-right: 30px;
}
