#current-sld:-moz-full-screen {
  width: 100%;
  background-color: white;
}

#current-sld:-webkit-full-screen {
  width: 100%;
  background-color: white;
}

#current-sld:-ms-fullscreen {
  background-color: white;
  width: 100%; /* needed to center contents in IE */
}
#current-sld:fullscreen {
  width: 100%;
  background-color: white;
  font-size: 3.3em;
  padding: 80px;
}
