.sldEditor-proj-name {
  font-size: 1.3em;
  color: rgb(248, 250, 246);
  font-weight: 400;
  margin: 0 5px 0 0;
}
.logo-wrap > .proj-name-edit-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 20px;
  margin-top: 10px;
}

#sldEditor-name-edit-input {
  font-size: 1.3em;
  color: rgb(248, 250, 246);
}

#pm-name-edit-input {
  font-size: 1rem;
  font-weight: 450;
  color: rgb(30, 57, 43);
}

.proj-name-edit-wrap > .MuiInput-root {
  max-width: 80%;
}

.check-icon,
.cancel-icon {
  cursor: pointer;
  margin-left: 10px;
}

.cancel-icon {
  font-size: 1.3em;
  padding-top: 2px;
}

.check-icon {
  font-size: 1em;
}

.check-icon {
  color: green;
}

.cancel-icon {
  color: red;
}

.check-icon:hover,
.cancel-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 820px) {
  .proj-name-edit-wrap > .MuiInput-root {
    max-width: 90%;
  }
}
@media (max-width: 530px) {
  .proj-name-edit-wrap > .MuiInput-root {
    max-width: 75%;
  }
}
