.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  font-size: 16px;
  margin: 0 auto;
  background-color: rgb(117, 146, 130);
}

.center {
  width: 57%;
  margin: 10px 10px 0;
  height: 100%;
}

/* current slide */
#current-sld-container {
  width: 80%;
  margin: 0 auto;
}
#current-sld-border {
  width: 100%;
  margin: 20px auto 0;
  border: 1px solid #aaa;
  padding-top: 56.25%;
  position: relative;
}

#current-sld {
  box-sizing: border-box;
  padding: 30px;
  font-size: 1.5em;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* content editor */
#content-editor {
  border: 1px solid #aaa;
  border-radius: 15px;
  height: 37%;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

/* slide selector */
#sld-selector {
  background-color: rgb(226, 247, 206);
  border: 1px solid #aaa;
  width: 18%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.sld-item {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.sld {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #aaa;
  width: 180px;
  height: 120px;
  padding: 10px;
  font-size: 0.5em;
  margin-left: 40px;
}

.sld-item-selected {
  background-color: rgba(191, 212, 212, 0.63);
}

#add-sld-btn {
  width: 50%;
  align-self: center;
  margin-top: 25px;
}
/* control panel */
#control-panel {
  width: 25%;
  height: 100%;
  border: 1px solid #aaa;
  background-color: white;
  overflow-y: scroll;
}
