.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 86px);
  font-size: 16px;
  margin: 0 auto;
  background-color: rgb(117, 146, 130);
}

.center {
  width: 57%;
  margin: 10px 10px 0;
}

/* current slide */
#current-sld {
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 1.5em;
}
#current-sld-border {
  width: 81%;
  height: 60%;
  margin: 20px auto 0;
  border: 1px solid #aaa;
  background-color: white;
}

/* content editor */
#content-editor {
  border: 1px solid #aaa;
  border-radius: 15px;
  height: 33%;
  margin-top: 20px;
  background-color: white;
}

/* slide selector */
#sld-selector {
  background-color: rgb(226, 247, 206);
  border: 1px solid #aaa;
  width: 18%;
  height: 100%;
  overflow-y: scroll;
}

.sld-item {
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

.sld {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #aaa;
  width: 180px;
  height: 120px;
  padding: 10px;
  font-size: 0.5em;
}

/* control panel */
#control-panel {
  width: 25%;
  height: 100%;
  border: 1px solid #aaa;
  background-color: white;
}
